* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

body > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  max-width: 100%;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

body > header * {
  color: #333;
}

body > header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4rem 120px;
  width: 100%;
}

@media (max-width: 991px) {
  body > header .container {
    margin: 3rem;
  }
}

@media (max-width: 576px) {
  body > header .container {
    margin: 2rem;
  }
}

body > header .container .logo a[href='/'] {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
  color: #333;
}

body > header .container .logo a[href='/'] span {
  color: #3bdfab;
}

body > header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  body > header .container nav {
    display: none;
  }
}

body > header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

body > header .container nav ul li {
  list-style-type: none;
  height: 3rem;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.25rem;
}

@media (max-width: 1200px) {
  body > header .container nav ul li {
    margin: 0 0.5rem;
  }
}

body > header .container nav ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #333333;
}

body > header .container nav ul button {
  min-width: 151px;
  min-height: 40px;
  background: #3bdfab;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  border: 1px solid #3bdfab;
  outline: none;
  text-decoration: none;
  padding: 6px;
  margin: 0 1.5rem;
}

@media (max-width: 1200px) {
  body > header .container nav ul button {
    margin: 0 0.5rem;
  }
}

section {
  margin: 4rem 120px;
}

@media (max-width: 991px) {
  section {
    margin: 3rem;
  }
}

@media (max-width: 576px) {
  section {
    margin: 2rem;
  }
}

.top-hero {
  margin-top: 4rem;
}

.top-hero .hero-text h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.01em;
  max-width: 459px;
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  .top-hero .hero-text h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    max-width: 350px;
  }
}

@media (max-width: 767px) {
  .top-hero .hero-text h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.top-hero .hero-text p {
  max-width: 440px;
  min-height: 72px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 3rem;
}

@media (max-width: 1200px) {
  .top-hero .hero-text p {
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .top-hero .hero-text p {
    margin-bottom: 1.5rem;
  }
}

.top-hero .hero-text .links {
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-hero .hero-text .links span {
  margin: 0 1rem;
}

.top-hero .hero-text .links a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  /* main */
  color: #3bdfab;
}

.top-hero .hero-text .links a.btn {
  min-width: 151px;
  min-height: 40px;
  background: #3bdfab;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  border: 1px solid #3bdfab;
  outline: none;
  text-decoration: none;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .top-hero .hero-text .links a.btn {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    padding: 0.5rem;
  }
}

.our-partners h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}

.our-partners .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1rem;
}

.our-partners .row img {
  margin: 1rem;
}

.goals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goals .left-cards-container {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.goals .right-cards-container {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  max-width: 50%;
}

.goals .lead-text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding: 2rem;
}

.goals .lead-text h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #3bdfab;
}

.goals .lead-text h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
}

@media (max-width: 991px) {
  .goals .lead-text h4 {
    margin: 3rem;
  }
}

@media (max-width: 576px) {
  .goals .lead-text h4 {
    margin: 2rem;
  }
}

.goals .card {
  max-width: 288px;
  min-height: 375px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 2rem 2rem 0;
}

.goals .card .card-logo {
  height: 4rem;
  width: 4rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.goals .card .card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin: 1.5rem 0 1.25rem;
}

.goals .card .card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 344px;
}

.our-solutions header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.our-solutions header h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #3bdfab;
  text-align: center;
}

.our-solutions header h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
}

@media (max-width: 991px) {
  .our-solutions header h4 {
    margin: 3rem;
  }
}

@media (max-width: 576px) {
  .our-solutions header h4 {
    margin: 2rem;
  }
}

.our-solutions header p {
  max-width: 450px;
  margin: 0 auto;
}

.our-solutions .solutions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1rem;
}

.our-solutions .solutions-container .image-container {
  min-width: 50%;
  max-width: 516px;
  max-height: 489px;
  margin: 0 1rem;
}

.our-solutions .solutions-container .image-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.our-solutions .solutions-container .solution-body {
  min-width: 50%;
  margin: 2rem 1rem;
}

.our-solutions .solutions-container .solution-body .features {
  margin: 2rem 0;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.our-solutions .solutions-container .solution-body .features .feature {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-solutions .solutions-container .solution-body .features .feature img {
  max-height: 64px;
  max-width: 64px;
  margin: 0 1rem 0 0;
}

.our-solutions .solutions-container .solution-body .features .feature h5 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-transform: capitalize;
}

.our-solutions .solutions-container .solution-body .links {
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-solutions .solutions-container .solution-body .links span {
  margin: 0 1rem;
}

.our-solutions .solutions-container .solution-body .links a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  /* main */
  color: #3bdfab;
}

.our-solutions .solutions-container .solution-body .links a.btn {
  min-width: 151px;
  min-height: 40px;
  background: #3bdfab;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  border: 1px solid #3bdfab;
  outline: none;
  text-decoration: none;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .our-solutions .solutions-container .solution-body .links a.btn {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    padding: 0.5rem;
  }
}
/*# sourceMappingURL=style.css.map */